<div class="container">
  <% @lists.each_with_index do |list, index| %>
    <%= react_component 'List', {
      date: get_date(index),
      elements: list.albums.order(cached_votes_up: :desc).map do |album|
        {
          album: album,
          user: album.user,
          upvote: album.cached_votes_up,
          upvoted: user_signed_in? ? current_user.voted_for?(album) : false,
          unvotePath: unvote_album_path(album),
          upvotePath: upvote_album_path(album)
        }
      end
      }, {
        class: "list"
      } %>
  <% end %>
</div>
