.hero-container {
  position: absolute;
  right: 0px;
  bottom: 0px;
  top: 0;
  background: white;
  width: 100%;
  max-width: 1000px;
  z-index: 2;
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.15);

}

.hero-wrapper {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(255, 255, 255, 0.9);
  display: none;

  &.is-visible {
    display: block;
  }
}

.hero-header {
  background-color: #242424;
  padding: 80px 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero-action {
  display: flex;
  margin-top: 20px;
}

.hero-title {
  font-size: 40px;
  color: white;

}

.hero-body {
  flex-flow: row nowrap;
  display: flex;

  main {
    flex: 1 1 auto;
  }

  aside {
    flex: 0 0 370px;
  }
}