.list-date-big {
  font-size: 24px;
  padding-right: 10px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.list-date-meta {
  opacity: 0.3;
}

.list-date {
  padding: 20px 0;
  text-align: center;
}