.upvote {
  float: left;
  margin-right: 10px;
  transition: 0.3s ease transform;
  font-weight: bold;

  &:hover {
    color: rgb(255, 207, 0) !important;
    svg {
      polygon:first-child {
        fill: rgb(255, 207, 0) !important;
      }

      polygon:last-child {
        fill: rgb(251, 227, 123) !important;
      }
    }
  }

  .upvote-count {
    text-align: center;
  }
}

.hero-action {
  .upvote {
    border-radius: 3px;
    padding: 8px 10px;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.51);
    background-color: rgba(255, 255, 255, 0.11);

    &:hover {
      background: rgba(255, 255, 255, 0.15);
    }

    svg {
      polygon:first-child {
        fill: rgba(255, 255, 255, 0.8);
      }
      polygon:last-child {
        fill: white;
      }
    }

      color: white;
  }
}